@page
@model TechedRazor.Pages.Coin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CoinEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CoinViewModel.Id" />
            <div class="form-group">
                <label asp-for="CoinViewModel.Symbol" class="control-label"></label>
                <input asp-for="CoinViewModel.Symbol" class="form-control" />
                <span asp-validation-for="CoinViewModel.Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.Name" class="control-label"></label>
                <input asp-for="CoinViewModel.Name" class="form-control" />
                <span asp-validation-for="CoinViewModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.ImageURL" class="control-label"></label>
                <input asp-for="CoinViewModel.ImageURL" class="form-control" />
                <span asp-validation-for="CoinViewModel.ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.CurrentPrice" class="control-label"></label>
                <input asp-for="CoinViewModel.CurrentPrice" class="form-control" />
                <span asp-validation-for="CoinViewModel.CurrentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.MarketCapRank" class="control-label"></label>
                <input asp-for="CoinViewModel.MarketCapRank" class="form-control" />
                <span asp-validation-for="CoinViewModel.MarketCapRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.PriceChangePercentage24h" class="control-label"></label>
                <input asp-for="CoinViewModel.PriceChangePercentage24h" class="form-control" />
                <span asp-validation-for="CoinViewModel.PriceChangePercentage24h" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.CirculatingSupply" class="control-label"></label>
                <input asp-for="CoinViewModel.CirculatingSupply" class="form-control" />
                <span asp-validation-for="CoinViewModel.CirculatingSupply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.TotalSupply" class="control-label"></label>
                <input asp-for="CoinViewModel.TotalSupply" class="form-control" />
                <span asp-validation-for="CoinViewModel.TotalSupply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.MaxSupply" class="control-label"></label>
                <input asp-for="CoinViewModel.MaxSupply" class="form-control" />
                <span asp-validation-for="CoinViewModel.MaxSupply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.LastUpdated" class="control-label"></label>
                <input asp-for="CoinViewModel.LastUpdated" class="form-control" />
                <span asp-validation-for="CoinViewModel.LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinViewModel.ChangedAt" class="control-label"></label>
                <input asp-for="CoinViewModel.ChangedAt" class="form-control" />
                <span asp-validation-for="CoinViewModel.ChangedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
